<form method="POST" action="/articles/<%= @article.id %>" id="edit">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label><%= @article.title %></label>
      <input type="text" id="title" name="article[title]">
    
      <label><%= @article.content%></label>
      <input type="text" id="content" name="article[content]">
   
      <input type="submit" value="Submit" id="Submit">
</form>