<!doctype html>

<html>
  <body>
    
    <form action="/articles/<%=@article.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label for="article_title">Article Title: </label>
      <input type="text" name="article[title]" id="title" value="<%= @article.title %>" /><br>
  
      <label for="article_content">Article Content: </label>
      <input type="text" name="article[content]" id="content" value="<%= @article.content %>" /><br>
  
      <br>
      <input type="submit" id="submit" value="submit"/> 
    </form>
  </body>
</html>