<form method="post" action='/articles'>
<label for="Title">Title</label>
<input type="text" id="title" name="title"><br>
<label for="Content">Content</label>
<input type="text" id="text" name="content"><br>
<input type="submit" id="submit" value="submit"
</form>

