    <h1><%= @article.title %></h1>
    <p><%= @article.content %><br><br></p>

<form method="post" action="/articles/<%= @article.id %>" type="submit">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>